.friend>.bio {
	clear: both;
	padding-top: 1em;
}
.friend>.identity {
	margin-top: 1em;
}
.friend>.identity>img  {
	border-radius: 50%;
	float: left;
	margin-right: 1em;
}
.friend>.identity>ul {
	list-style: none
}
.friend>.identity>ul>li>.label {
	font-weight: bold;
}